@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nova+Square&family=Tilt+Prism&display=swap');

body {
    background: rgb(32, 226, 103);
    background: linear-gradient(90deg,
            rgba(32, 226, 103, 1) 14%,
            rgba(75, 140, 199, 1) 39%,
            rgba(12, 237, 189, 1) 100%);
}

.title-text {
    text-align: center;
    text-shadow: 20px 10px 10px black;
    font-size: 50px;
    font-family: 'Nova Square', sans-serif;
    font-family: 'Tilt Prism', sans-serif;
    color: #B83B5E;
}

.account-btn {
    display: flex;
    justify-content: center;

}

.login-btn {
    border: 2px solid wheat;
    border-radius: 10px;
    height: 50px;
    width: 100px;
    left: 650px;
    position: absolute;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    text-transform: uppercase;
    color: #fff;
    background: -webkit-linear-gradient(right,
            #56d8e4,
            #9f01ea,
            #56d8e4,
            #9f01ea)
}

.signup-btn {
    border: 2px solid wheat;
    color: #fff;
    right: 625px;
    position: absolute;
    border-radius: 10px;
    height: 50px;
    width: 100px;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    text-transform: uppercase;
    background: -webkit-linear-gradient(right,
            #56d8e4,
            #9f01ea,
            #56d8e4,
            #9f01ea)
}