/*HomePage.css*/

body {
    background-color: #2E302E;
    color: #FFF6E1;
}

.title-text {
    color: #FFF6E1;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #F58838;
    width: 100%;
    height: 40px;

}

.chat-list-page {
    display: flex;
}

.chat-list-bar {
    overflow: hidden;
    border: 2px solid #F58838;
    width: 25rem;
    height: calc(100vh - 50px);
}

.search-chat-bar {
    overflow: hidden;
    border: 2px solid #F58838;
    width: 100%;
    height: 50px;
}

/* .input-data {
  position: relative;
  margin-bottom: 20px;
}

.input-data input {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  background: transparent;
}

.input-data label {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  transition: top 0.3s, font-size 0.3s;
  pointer-events: none;
}

.input-data input:focus + label,
.input-data input:valid + label {
  top: 10px;
  font-size: 12px;
}

.input-data .underline {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #000;
} */
label {
    text-decoration: underline;
}

.userprofile-space {
    overflow: hidden;
    border: 2px solid #F58838;
    width: 100%;
    height: 50px;
}

.sittings-bar {
    overflow: hidden;
    border: 2px solid #F58838;
    width: 100%;
    height: 50px;
    position: relative;
    top: 530px
}

.chat-space {
    background: url(/pexels-solen-feyissa-7052603.jpg);
    background-size: cover;
    background-position: center;
    opacity: 0.5;
    border: 2px solid #F58838;
    width: calc(100vw - 25rem);
    object-fit: cover;
}